USE [master]
GO
/****** Object:  Database [dbCafeBar]    Script Date: 15/11/2021 11:13:37 ******/
CREATE DATABASE [dbCafeBar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbCafeBar', FILENAME = N'C:\Users\pupil\dbCafeBar.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbCafeBar_log', FILENAME = N'C:\Users\pupil\dbCafeBar_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbCafeBar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbCafeBar]
GO
/****** Object:  Table [dbo].[tBill]    Script Date: 15/11/2021 11:13:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBill](
	[BillCode] [int] IDENTITY(1,1) NOT NULL,
	[ClientCode] [int] NOT NULL,
	[PaymentDate] [date] NOT NULL,
	[PaymentType] [int] NOT NULL,
	[PaymentStatus] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BillCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tCart]    Script Date: 15/11/2021 11:13:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCart](
	[CartCode] [int] IDENTITY(1,1) NOT NULL,
	[BillCode] [int] NOT NULL,
	[ProductCode] [int] NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tCategory]    Script Date: 15/11/2021 11:13:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCategory](
	[CategoryCode] [int] IDENTITY(1,1) NOT NULL,
	[CatDescription] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tClient]    Script Date: 15/11/2021 11:13:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tClient](
	[ClientCode] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
	[Mail] [nvarchar](25) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[BornDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tDrinks]    Script Date: 15/11/2021 11:13:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDrinks](
	[DrinkCode] [int] IDENTITY(1,1) NOT NULL,
	[CategoryCode] [int] NOT NULL,
	[Name] [nvarchar](15) NOT NULL,
	[Price] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DrinkCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tEmployer]    Script Date: 15/11/2021 11:13:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tEmployer](
	[EmplCode] [int] IDENTITY(1,1) NOT NULL,
	[ClientCode] [int] NOT NULL,
	[BillCode] [int] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Mail] [nvarchar](25) NOT NULL,
	[Salary] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmplCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tSnack]    Script Date: 15/11/2021 11:13:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSnack](
	[SnackCode] [int] IDENTITY(1,1) NOT NULL,
	[CategoryCode] [int] NOT NULL,
	[Price] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SnackCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tDrinks] ON 

INSERT [dbo].[tDrinks] ([DrinkCode], [CategoryCode], [Name], [Price]) VALUES (1, 1, N'mohito', 35.0000)
SET IDENTITY_INSERT [dbo].[tDrinks] OFF
ALTER TABLE [dbo].[tCart]  WITH CHECK ADD FOREIGN KEY([BillCode])
REFERENCES [dbo].[tBill] ([BillCode])
GO
USE [master]
GO
